USE [CreditCardFraudDB]
GO
/****** Object:  Table [dbo].[HC_ChuyenKho]    Script Date: 1/1/2025 9:11:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HC_ChuyenKho](
	[RowId] [int] IDENTITY(1,1) NOT NULL,
	[SoPhieu] [varchar](20) NULL,
	[Title] [nvarchar](200) NULL,
	[NoiDung] [nvarchar](500) NULL,
	[DonViChuyen] [int] NULL,
	[DonViNhan] [int] NULL,
	[StatusID] [tinyint] NOT NULL,
	[Disabled] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [smalldatetime] NULL,
	[UpdatedBy] [int] NULL,
	[UpdatedDate] [smalldatetime] NULL,
	[DeletedDate] [smalldatetime] NULL,
	[DeletedBy] [int] NULL,
	[Message_Approved] [nvarchar](1000) NULL,
	[ApprovedBy] [int] NULL,
	[ApprovedDate] [smalldatetime] NULL,
	[ApprovedNote] [nvarchar](1000) NULL,
 CONSTRAINT [PK_HC_ChuyenKho] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HC_ChuyenKho_Ct]    Script Date: 1/1/2025 9:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HC_ChuyenKho_Ct](
	[RowId] [int] IDENTITY(1,1) NOT NULL,
	[ChuyenKho_Id] [int] NOT NULL,
	[HC_Id] [int] NOT NULL,
	[SoLuong] [numeric](10, 3) NULL,
	[SoLuongTon] [numeric](10, 3) NULL,
	[TinhTrang] [tinyint] NULL,
	[Disabled] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [smalldatetime] NULL,
	[DeletedDate] [smalldatetime] NULL,
	[DeletedBy] [int] NULL,
	[IsAccept] [bit] NULL,
 CONSTRAINT [PK_HC_ChuyenKho_Ct] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HC_ChuyenKho_Ls]    Script Date: 1/1/2025 9:11:14 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HC_ChuyenKho_Ls](
	[RowId] [int] IDENTITY(1,1) NOT NULL,
	[ChuyenKho_Id] [int] NOT NULL,
	[TrangThaiTruocDuyet] [tinyint] NULL,
	[TrangThaiSauDuyet] [tinyint] NULL,
	[NoiDung] [nvarchar](200) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [smalldatetime] NULL,
 CONSTRAINT [PK_HC_ChuyenKho_Ls] PRIMARY KEY CLUSTERED 
(
	[RowId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[HC_ChuyenKho] ADD  CONSTRAINT [DF_HC_ChuyenKho_StatusID]  DEFAULT ((1)) FOR [StatusID]
GO
ALTER TABLE [dbo].[HC_ChuyenKho] ADD  CONSTRAINT [DF_HC_ChuyenKho_Disabled]  DEFAULT ((0)) FOR [Disabled]
GO
ALTER TABLE [dbo].[HC_ChuyenKho_Ct] ADD  CONSTRAINT [DF_HC_ChuyenKho_Ct_Disabled]  DEFAULT ((0)) FOR [Disabled]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link DM_DonVi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HC_ChuyenKho', @level2type=N'COLUMN',@level2name=N'DonViChuyen'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link DM_DonVi' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HC_ChuyenKho', @level2type=N'COLUMN',@level2name=N'DonViNhan'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link bảng StatusList, PhanLoai = 1' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HC_ChuyenKho', @level2type=N'COLUMN',@level2name=N'StatusID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link HC_ChuyenKho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HC_ChuyenKho_Ct', @level2type=N'COLUMN',@level2name=N'ChuyenKho_Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link Dm_HoaChat_VatTu' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HC_ChuyenKho_Ct', @level2type=N'COLUMN',@level2name=N'HC_Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1 - Đang hoạt động,  2 - Chờ Thanh Lý, 3 - Đã Thanh lý' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HC_ChuyenKho_Ct', @level2type=N'COLUMN',@level2name=N'TinhTrang'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Đồng ý' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HC_ChuyenKho_Ct', @level2type=N'COLUMN',@level2name=N'IsAccept'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Link HC_ChuyenKho' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'HC_ChuyenKho_Ls', @level2type=N'COLUMN',@level2name=N'ChuyenKho_Id'
GO
