USE [CreditCardFraudDB]
GO
/****** Object:  Table [dbo].[TransactionLog_Detail]    Script Date: 5/30/2026 6:25:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransactionLog_Detail](
	[RowID] [int] IDENTITY(1,1) NOT NULL,
	[TransactionID] [int] NULL,
	[Time] [nvarchar](100) NULL,
	[Amount] [nvarchar](100) NULL,
	[V1] [float] NULL,
	[V2] [float] NULL,
	[V3] [float] NULL,
	[V4] [float] NULL,
	[V5] [float] NULL,
	[V6] [float] NULL,
	[V7] [float] NULL,
	[V8] [float] NULL,
	[V9] [float] NULL,
	[V10] [float] NULL,
	[V11] [float] NULL,
	[V12] [float] NULL,
	[V13] [float] NULL,
	[V14] [float] NULL,
	[V15] [float] NULL,
	[V16] [float] NULL,
	[V17] [float] NULL,
	[V18] [float] NULL,
	[V19] [float] NULL,
	[V20] [float] NULL,
	[V21] [float] NULL,
	[V22] [float] NULL,
	[V23] [float] NULL,
	[V24] [float] NULL,
	[V25] [float] NULL,
	[V26] [float] NULL,
	[V27] [float] NULL,
	[V28] [float] NULL,
 CONSTRAINT [PK_TransactionLog_Detail] PRIMARY KEY CLUSTERED 
(
	[RowID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
